<% include header.ejs %>

    <body class="text-center">
        <div class="card mt-5 text-light bg-dark shadow-lg">
            <div class="card-header">
                <h2 class="card-title">CANDIDATOS</h2>
            </div>
        </div>
        <div class="card">
            <table class="table">
                <thead class="thead-dark">
                    <tr class="header">
                        <th scope="col"></th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Sexo</th>
                        <th>Partido</th>
                    </tr>
                </thead>
                <tbody>
                    <% locals.candidatos.forEach((item) => { %>
                        <tr>
                            <td class="w-25">
                                <img src="../public/images/<%= item.candFile %>" class="img-fluid img-thumbnail">
                            </td>
                            <td>
                                <%= item.nombre %>
                            </td>
                            <td>
                                <%= item.apellido %>
                            </td>
                            <td>
                                <%= item.sexo %>
                            </td>
                            <td>
                                <%= item.partido %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
        <div class="card mt-3 text-light shadow-lg">
            <div class="card-header bg-dark text-light">
                <h1>Nuevo Candidato</h1>
            </div>
            <div class="card-body bg-light">
                <div>
                    <div>
                        <form action="/candidates" method="GET">
                            <div class="cargaDatos">
                                <input class="form-control" type="text" name="name" placeholder="Nombre" required>
                                <input class="form-control" type="text" name="lastName" placeholder="Apellido" required>
                                <select class="form-control" name="sex">
                                    <option value ="1">Hombre</option>
                                    <option value ="2">Mujer</option>    
                                </select>
                                <input class="form-control" type="text" name="partido" placeholder="Partido" required>

                            </div>
                            <a class="btn btn-secondary btn-lg" href="/">Volver</a>
                            <input class="btn btn-success btn-lg" type="submit" value="AGREGAR">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/JavaScript" src="/javascripts/addFile.js"></script>